API_ID=20222141
API_HASH=a769652aaec1fa865d40f3969c408628
BOT_TOKEN=7705661811:AAEbA7dDP0Csr4vQRwq9wJv-bRoV1xl7jdI
LOGGER_ID=-1002442457914
MONGO_DB_URI=mongodb+srcluster0.arp9e.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=6920428516
STRING_SESSION=BQE0kL0AqGl-QLo4qX1vbdIzS4C3k84OhhIE1xhnfMt8AJxR0bXCrSs7vx3xTOjfvvWBA1EGrpIA3AdDMQ5bjk7EdFklag_RKpfSeZnQ2YVnjKpUVCYkuR7C4xjtTt2nM6K2zcFMBK-aqCcC0qQ9FSTPzITqRgtE_Ny19keK7nAUYUZKIeDvWlaeOglHcxX6XKKoi2vBoGEU-jsmUnErcvn2Dlyx2qoIH0ZWIqZp6xKwwONAl4CdmLZ1I_1Pc1FDWcfCZxgNzQTBg5D_KkQpDMyGjFjdJR6sdnUMfnpEgvTzbcKrZtWezOcmhhkC4U21NsYJ-rOnjKG42LSCJNHfJSfYr3bQYwAAAAEu4omkAA